a {
	border-bottom: 2px solid transparent;
	color: #FFFFFF;
	margin: 0 20px;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

body {
	font-family: 'Droid Serif', serif;
	margin: 0;
	text-align: center;
}

button {
	background-color: #00A6B3;
	
	color: #FFFFFF;
	margin-top: 50px;
	font-family: "Raleway", sans-serif;
	width: 10%;
}

footer {
	position: absolute;
	bottom: 0;
	background-color: #0D2C40;
	clear: both; 
	color: rgba(255,255,255,1);
	font-weight: 500;
	letter-spacing: .08em;
	padding: 0 20px;
	text-transform: uppercase;
	width: 98%;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

h2 {
	font-family: 'Raleway', sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
}

h1, h2 {
	text-transform: uppercase;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

img {
	margin: 40px 8px 0 8px;
}

main {
	margin: 35px auto;
	width: 850px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
	text-transform: uppercase;
}

p {
	line-height: 26px;
	font-size: 18px;
	display: inline;
}

a:hover {
	border-color: rgba(255,255,255,1);
}

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	font-size: 0;
}

.copyright {
	float: left;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.message {
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.name {
	color: #f18b31;
	font-weight: 700;
}

/*need to double check the footer width*/
/*double check the clearfix for footer*/